@{
    ViewBag.Title = "Технология инжиниринг";
}

<div class="row">
    <div  class="col-md-12">
        <h2>Технология инжиниринг</h2>
        <p class="lead">
            Опытная и профессиональная проектная организация, предлагающая услуги по выполнению полного комплекса проектных работ
            на строительных и технологических объектах предприятий химической, нефтехимической, нефтеперерабатывающей, пищевой промышленности,
            объектах добычи, транспортировки и хранения нефтепродуктов, очистки газов и др.
        </p>
        <p><a href="https://" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 line2">
        <h3>Базовое проектирование</h3>
        <div class="index-ul" id="p1">
            <ul>
                <li>Предпроектная проработка, технико-экономическое обоснование</li>
                <li>Сопровождение заказчика при подготовке ТЗ</li>
                <li>Участие в базовых проектах в рамках адаптации и приведения к отечественным нормам</li>
                <li>Приемка базовых проектов, в том числе иностранных лицензиаров</li>
                <li>Разработка документации стадии «ПРОЕКТ» (ПД)</li>
                <li>Согласование документации с инспектирующими органами (самостоятельное прохождение экспертизы, техническое сопровождение заказчика).</li>
            </ul>
        </div>
        <p class="learn-moree"><label class="btn btn-info btn-xs max" onclick="show('#p1', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
                               <label class="btn btn-info btn-xs min" onclick="hide('#p1', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
    <div class="col-md-4 line2">
        <h3>Рабочее проектирование</h3>
        <div class="index-ul" id="p2">
            <ul>
                <li>Выполнение всех разделов Рабочей документации (РД), в соответствии с требованиями отечественных норм и правил</li>
                <li>Комплексное выполнение рабочего проектирования по иностранным нормам и нормам заказчика, в том числе и отдельных разделов</li>
            </ul>
        </div>
        <p class="learn-moree">
            <label class="btn btn-info btn-xs max" onclick="show('#p2', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
            <label class="btn btn-info btn-xs min" onclick="hide('#p2', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 line3">
        <h4>Технология</h4>
        <div class="index-ul" id="p3">
            <ul>
                <li>Выполнение материальных, тепловых и гидравлических расчетов</li>
                <li>Разработка «интеллектуальных» монтажно-технологических схем (P&ID)</li>
                <li>Расчеты статического и динамического оборудования, разработка опросных листов и заданий на техническое проектирование</li>
                <li>Согласование конструкторской документации изготовителей и поставщиков</li>
                <li>Подготовка пояснительных записок, регламентов, инструкций</li>
            </ul>
        </div>
        <p class="learn-moree">
            <label class="btn btn-info btn-xs max" onclick="show('#p3', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
            <label class="btn btn-info btn-xs min" onclick="hide('#p3', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
    <div class="col-md-4 line3">
        <h4>Строительное проектирование</h4>
        <div class="index-ul" id="p4">
            <ul>
                <li>Выполнение материальных, тепловых и гидравлических расчетов</li>
                <li>Разработка «интеллектуальных» монтажно-технологических схем (P&ID)</li>
                <li>Расчеты статического и динамического оборудования, разработка опросных листов и заданий на техническое проектирование</li>
                <li>Согласование конструкторской документации изготовителей и поставщиков</li>
                <li>Подготовка пояснительных записок, регламентов, инструкций</li>
            </ul>
        </div>
        <p class="learn-moree">
            <label class="btn btn-info btn-xs max" onclick="show('#p4', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
            <label class="btn btn-info btn-xs min" onclick="hide('#p4', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
    <div class="col-md-4 line3">
        <h4>Электротехника</h4>
        <div class="index-ul" id="p5">
            <ul>
                <li>Проектирование трансформаторных и распределительных подстанций до 35 кВ включительно</li>
                <li>Разработка структурных, функциональных и принципиальных схем электроснабжения</li>
                <li>Подбор и разработка щитового оборудования</li>
                <li>Проектирование воздушных кабельных линий до 35 кВ включительно</li>
                <li>Проектирование наружных и внутренних сетей освещения</li>
                <li>Проектирования молниезащиты и заземления</li>
                <li>Проектирование электрообогрева</li>
            </ul>
        </div>
        <p class="learn-moree">
            <label class="btn btn-info btn-xs max" onclick="show('#p5', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
            <label class="btn btn-info btn-xs min" onclick="hide('#p5', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 line3">
        <h4>КИПиА</h4>
        <div class="index-ul" id="p6">
            <ul>
                <li>Разработка опросных листов и технические спецификаций на приборы и клапаны</li>
                <li>Подготовка перечня входов/выходов (перечень параметров АСУТП с указанием уставок сигнализиции и блокировок)</li>
                <li>Выполнение чертежей установки средств автоматизации (внешние трубные проводки, чертежи</li>
                <li>Составление кабельных/трубных журналов</li>
                <li>Разработка таблиц соединений соединительных коробок/кроссовых шкафов</li>
                <li>Подготовка планов расположения оборудования и кабельных трасс/раскладка по сечениям</li>
                <li>Электрические схемы подключений (принципиальные, контуров, внешних соединений и подключений)</li>
                <li>Схемы распределения сжатого воздуха КИП</li>
                <li>Спецификация монтажных материалов и кабелей</li>
                <li>Логические таблицы/схемы</li>
            </ul>
        </div>
        <p class="learn-moree">
            <label class="btn btn-info btn-xs max" onclick="show('#p6', event.currentTarget)">Узнать больше <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></label>
            <label class="btn btn-info btn-xs min" onclick="hide('#p6', event.currentTarget)">Свернуть <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></label>
        </p>
    </div>
</div>