@{
    ViewBag.Title = "Технология инжиниринг";
}

<div class="row">
    <div class="col-md-12">
        <div style="font-family: 'Open Sans', sans-serif; padding:100px 40px 40px 80px;">
            <h1 style="color: #0B5D7A; font-size:32px; font-weight: 700;">
                <svg version="1.0" x="0px" y="0px" width="112px" height="60px" viewBox="0 0 75 47" enable-background="new 0 0 75 47" xml:space="preserve">
                <defs>
                </defs>
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="6.472" y1="41.214" x2="19.296" y2="33.896" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="70.761" cy="4.208" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="4.673" cy="42.431" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="37.779" cy="4.208" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="54.446" cy="13.562" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="54.446" cy="32.822" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="21.178" cy="32.822" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="21.112" cy="13.582" r="2.172" />
                <circle fill="none" stroke="#0B5D7A" stroke-width="1.6" stroke-miterlimit="10" cx="37.964" cy="42.431" r="2.172" />
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="21.178" y1="30.65" x2="21.112" y2="15.753" />
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="36.361" y1="41.576" x2="23.284" y2="34.036" />
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="52.596" y1="12.528" x2="39.518" y2="4.988" /><line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="56.229" y1="12.417" x2="69.053" y2="5.098" />
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="23.121" y1="12.417" x2="35.928" y2="4.988" /><line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="39.808" y1="41.292" x2="52.93" y2="33.681" />
                <line fill="none" stroke="#0B5D7A" stroke-width="2" stroke-miterlimit="10" x1="54.446" y1="30.65" x2="54.446" y2="15.734" />
                <rect id="_x3C_Slice_x3E__1_" fill="none" width="75" height="47" />
            </svg>

                Технология инжиниринг
            </h1>
            <br>
            <p class="lead" style="font-style: italic;">
                Опытная и профессиональная проектная организация, предлагающая услуги по выполнению полного комплекса проектных работ
                на строительных и технологических объектах предприятий химической, нефтехимической, нефтеперерабатывающей, пищевой промышленности,
                объектах добычи, транспортировки и хранения нефтепродуктов, очистки газов и др.
            </p>
        </div>
        
    </div>
</div>
<span style="min-height:40vh; background-color:aqua;"></span>
<div class="row" style="padding-top:150px;">
    <div class="col-md-4">
        <div class="card card-inverse line3">
            <img class="card-img-top imagep1" src="~/image/te3.png" alt="">
            <div class="card-img-overlay card-body p1">
                <div class="h4">
                    <h4 class="card-title align-baseline">Базовое проектирование<br></h4>
                </div>
                <div class="card-text min" id="p1">
                    <ul>
                        <li>Предпроектная проработка, технико-экономическое обоснование</li>
                        <li>Сопровождение заказчика при подготовке ТЗ</li>
                        <li>Участие в базовых проектах в рамках адаптации и приведения к отечественным нормам</li>
                        <li>Приемка базовых проектов, в том числе иностранных лицензиаров</li>
                        <li>Разработка документации стадии «ПРОЕКТ» (ПД)</li>
                        <li>Согласование документации с инспектирующими органами (самостоятельное прохождение экспертизы, техническое сопровождение заказчика).</li>
                    </ul>
                </div>
                <div class="learn-moree">
                    <label class="btn btn-info btn-xs min" onclick="hide('p1', event.currentTarget)">Свернуть</label>
                    <label class="btn btn-info btn-xs max" onclick="show('p1', event.currentTarget)">Узнать больше</label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card card-inverse line3">
                <img class="card-img-top imagep2" src="~/image/te3.png" alt="">
                <div class="card-img-overlay card-body p2">
                    <div class="h4">
                        <h4 class="card-title">Рабочее проектирование<br></h4>
                    </div>
                    <div class="card-text index-ul min" id="p2">
                        <ul>
                            <li>Выполнение всех разделов Рабочей документации (РД), в соответствии с требованиями отечественных норм и правил</li>
                            <li>Комплексное выполнение рабочего проектирования по иностранным нормам и нормам заказчика, в том числе и отдельных разделов</li>
                        </ul>
                    </div>
                    <div class="learn-moree">
                        <label class="btn btn-info btn-xs max" onclick="show('p2', event.currentTarget)">Узнать больше</label>
                        <label class="btn btn-info btn-xs min" onclick="hide('p2', event.currentTarget)">Свернуть</label>
                    </div>
                </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card card-inverse line3">
                <img class="card-img-top imagep3" src="~/image/te3.png" alt="">
            <div class="card-img-overlay card-body p3">
                <div class="h4">
                    <h4 class="card-title">Технология<br></h4>
                </div>
                <div class="card-text index-ul min" id="p3">
                    <ul>
                        <li>Выполнение материальных, тепловых и гидравлических расчетов</li>
                        <li>Разработка «интеллектуальных» монтажно-технологических схем (P&ID)</li>
                        <li>Расчеты статического и динамического оборудования, разработка опросных листов и заданий на техническое проектирование</li>
                        <li>Согласование конструкторской документации изготовителей и поставщиков</li>
                        <li>Подготовка пояснительных записок, регламентов, инструкций</li>
                    </ul>
                </div>
                <div class="learn-moree">
                    <label class="btn btn-info btn-xs max" onclick="show('p3', event.currentTarget)">Узнать больше</label>
                    <label class="btn btn-info btn-xs min" onclick="hide('p3', event.currentTarget)">Свернуть</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card line3">
            <img class="card-img imagep4" src="~/image/pi.png" alt="">
            <div class="card-img-overlay card-body p4">
                <div class="h4">
                    <h4 >Компоновка, трубопроводы <br></h4>
                </div>
                    <div class="card-text index-ul min" id="p4">
                        <ul>
                            <li>Выполнение компоновочных, монтажных чертежей, в том числе в трехмерной среде</li>
                            <li>Статические расчеты трубопроводов на прочность, жесткость, устойчивость</li>
                            <li>Изометрические чертежи трубопроводов и спецификации</li>
                        </ul>
                    </div>
                    <div class="learn-moree">
                        <label class="btn btn-info btn-xs max" onclick="show('p4', event.currentTarget)">Узнать больше</label>
                        <label class="btn btn-info btn-xs min" onclick="hide('p4', event.currentTarget)">Свернуть</label>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse line3">
            <img class="card-img-top imagep5" src="~/image/el.png" alt="">
            <div class="card-img-overlay card-body p5">
                <div class="h4">
                    <h4 class="card-title">Электротехника<br></h4>
                </div>
                    <div class="card-text index-ul min" id="p5">
                        <ul>
                            <li>Проектирование трансформаторных и распределительных подстанций до 35 кВ включительно</li>
                            <li>Разработка структурных, функциональных и принципиальных схем электроснабжения</li>
                            <li>Подбор и разработка щитового оборудования</li>
                            <li>Проектирование воздушных кабельных линий до 35 кВ включительно</li>
                            <li>Проектирование наружных и внутренних сетей освещения</li>
                            <li>Проектирования молниезащиты и заземления</li>
                            <li>Проектирование электрообогрева</li>
                        </ul>
                    </div>
                    <div class="learn-moree">
                        <label class="btn btn-info btn-xs max" onclick="show('p5', event.currentTarget)">Узнать больше</label>
                        <label class="btn btn-info btn-xs min" onclick="hide('p5', event.currentTarget)">Свернуть</label>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse line3 ">
                <img class="card-img-top imagep6" src="~/image/ki.png" alt="">
                <div class="card-img-overlay card-body p6">
                    <div class="h4">
                        <h4 class="card-title">КИПиА<br></h4>
                    </div>
                        <div class="card-text index-ul min" id="p6">
                            <ul>
                                <li>Разработка опросных листов и технические спецификаций на приборы и клапаны</li>
                                <li>Подготовка перечня входов/выходов (перечень параметров АСУТП с указанием уставок сигнализиции и блокировок)</li>
                                <li>Выполнение чертежей установки средств автоматизации (внешние трубные проводки, чертежи</li>
                                <li>Составление кабельных/трубных журналов</li>
                                <li>Разработка таблиц соединений соединительных коробок/кроссовых шкафов</li>
                                <li>Подготовка планов расположения оборудования и кабельных трасс/раскладка по сечениям</li>
                                <li>Электрические схемы подключений (принципиальные, контуров, внешних соединений и подключений)</li>
                                <li>Схемы распределения сжатого воздуха КИП</li>
                                <li>Спецификация монтажных материалов и кабелей</li>
                                <li>Логические таблицы/схемы</li>
                            </ul>
                        </div>
                        <div class="learn-moree">
                            <label class="btn btn-info btn-xs max" onclick="show('p6', event.currentTarget)">Узнать больше</label>
                            <label class="btn btn-info btn-xs min" onclick="hide('p6', event.currentTarget)">Свернуть</label>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-inverse line3">
                <img class="card-img-top imagep7" src="~/image/bu2.png" alt="">
                <div class="card-img-overlay card-body p7">
                    <div class="h4">
                        <h4 class="card-title">Строительное проектирование</h4>
                    </div>
                    <div class="card-text index-ul min" id="p7">
                        Проектирование включает полный перечень разделов необходимых для возведения:
                        <ul>
                            <li>Административно-бытовых зданий</li>
                            <li>Производственных зданий в том числе многопролетных и многоуровневых</li>
                            <li>Этажерок любой конфигурации и сложности, эстакад</li>
                            <li>Сетей водоснабжения и водоотведения</li>
                            <li>Складских комплексов</li>
                            <li>Фундаментов под различное технологическое оборудование</li>
                            <li>Жилых домов различной этажности, конфигураций и архитектурных стилей</li>
                            <li>Общественных зданий и сооружений любой сложности</li>
                            <li>Объектов специального назначения</li>
                        </ul>
                    </div>
                    <div class="learn-moree">
                        <label class="btn btn-info btn-xs max" onclick="show('p7', event.currentTarget)">Узнать больше</label>
                        <label class="btn btn-info btn-xs min" onclick="hide('p7', event.currentTarget)">Свернуть</label>
                    </div>
                    </div>
                </div>
    </div>

</div>
