
html {
    min-height: 100%;
    background-size: cover; /*Значение cover масштабирует изображение, в зависимости от размеров блока*/
    background-image: url(/Content/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom; /*Изображение будет обрезано, в зависимости от значений*/
    background-attachment: fixed;
}

body {
    background-color: none;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-md-6 {
    margin: 1%;
    width: 48%;
}
.col-md-4 {
    margin: 1%;
    width: 31%;
}
.jumbotron {
    margin-top: 30px;
    margin-bottom:30px;
}
.index-ul {
    height:150px;
    overflow-y: hidden;
}