
html {
    min-height: 100%;
    background-color: #068bce;
    font-size: 12px;
}


body {
    background-image: url(/Content/img/bg4.jpg);
    /*background-size: cover; /*Значение cover масштабирует изображение, в зависимости от размеров блока*/
    background-repeat: no-repeat;
    
    /*background-attachment: fixed;
    /*background-position: right bottom; /*Изображение будет обрезано, в зависимости от значений*/
   
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.line2 {
    border: solid 1px white;
    background-color: #068bce;
    color: white;
    font-family: 'Open Sans';
    /*margin: 1%;*/
    /*width: 49%;*/
}
.line3 {
    align-content: center;
    /*border: 1px inset #eeeeee;*/
    background-color: white;
    color: #808080;
    margin-top: 15px;
    margin-bottom: 30px;
    /* margin: 1%;
    width: 31%;*/
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Open Sans';
}
.jumbotron {
    margin-top: 30px;
    margin-bottom:30px;
}
.index-ul {
    height: 90px;
    overflow-y: hidden;
    padding-right: 10px;
}
.learn-moree {
    padding-top: 20px;
    text-align:right;
    padding-right:10px;
}
.min {
    display:none;
}
.row {
    padding-left:20px;
    padding-right:20px;
    padding-top: 0px;
   
}


h2, h3, h4, h5 {
    font-family: 'Open Sans';
    text-align: center;
    height:35px;
    
}
.btn-info {
    background-color: #068bce;
    font-size: 10px;
}